@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Amsterdam';
  src: url('../assets/fonts/Amsterdam.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Darlene Bold';
  src: url('../assets/fonts/DarleneBold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MondaySans';
  src: url('../assets/fonts/MondaySans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'MondaySans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.amsterdam {
  font-family: 'Amsterdam', sans-serif;
}
.darlene {
  font-family: 'Darlene Bold', sans-serif;
}

